@model IEnumerable<SIMS_CW.Models.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title {
    View all Categories
}
@section title_page {
    View all Categories
}
<h3 class="headerw3" style="margin-bottom: 30px;">View all Categories</h3>
<button style="margin-bottom: 10px;" class="btn btn-primary">
    <a style="color: white;" href="@Url.Action("Create", "ManagerCategory")"><span class="glyphicon glyphicon-plus"></span> Create a new Category</a>
</button>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Category Name</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="btn-adjust">
                        <button type="button" class="btn btn-warning">
                            <a style="color: white;" href="@Url.Action("Edit", "ManagerCategory", new { id = item.category_id })" title="Edit"><span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span></a>
                        </button>

                        <button type="button" class="btn btn-info">
                            <a style="color: white;" href="@Url.Action("Details", "ManagerCategory", new { id = item.category_id })" title="Details"><span style="margin-right: 5px" class="glyphicon glyphicon-align-justify"></span></a>
                        </button>

                        <button type="button" class="btn btn-danger">
                            <a style="color: white;" href="@Url.Action("Delete", "ManagerCategory", new { id = item.category_id })" title="Delete"><span style="margin-right: 5px" class="glyphicon glyphicon-remove"></span></a>
                        </button>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.category_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
