@model dynamic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Show details the idea
}
@section title_page {
    Show details the idea
}


<h3 class="headerw3" style="margin-bottom: 30px;">Idea Details</h3>

<button style="margin-bottom: 10px;" class="btn btn-primary">
    <a style="color: white;" href="@Session["previousPage"]"><span class="glyphicon glyphicon-arrow-left"></span> Return</a>
</button>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div class="panel-white post">
            <div class="post-heading">
                <div class="pull-left meta">
                    <div class="title h5">
                        @if (ViewBag.Idea.user_id == ViewBag.currentUser.user_id && ViewBag.Idea.isAnonymous == 1)
                        {
                            <b>@ViewBag.Idea.user.user_name (Anonymous)</b>
                        }
                        else if (ViewBag.Idea.user_id != ViewBag.currentUser.user_id && ViewBag.Idea.isAnonymous == 1)
                        {
                            <b>Anonymous</b>
                        }
                        else if (ViewBag.Idea.isAnonymous == 0)
                        {
                            <b>@ViewBag.Idea.user.user_name</b>
                        }
                    </div>
                    <h6 class="text-muted time">
                        <span class="glyphicon glyphicon-calendar" title="Created at"> @ViewBag.idea.created_at</span>

                        <!--Three spaces-->
                        &nbsp&nbsp&nbsp
                        @if (ViewBag.idea.viewed_count == null)
                        {
                            <span class="glyphicon glyphicon-eye-open" title="Views"> 0</span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-eye-open" title="Views"> @ViewBag.idea.viewed_count</span>
                        }

                        <!--Three spaces-->
                        &nbsp&nbsp&nbsp
                        <span class="glyphicon glyphicon-paperclip" title="Attachments"> @ViewBag.documents.Count</span>

                        <!--Three spaces-->
                        &nbsp&nbsp&nbsp
                        @if (ViewBag.currentUser.role_id == 5)
                        {
                            <span class="glyphicon glyphicon-comment" title="Comments"> @ViewBag.commentCountStudent</span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-comment" title="Comments"> @ViewBag.commentCountStaff</span>
                        }

                        <!--Three spaces-->
                        &nbsp&nbsp&nbsp
                        <span class="glyphicon glyphicon-tag" title="Category"> @ViewBag.idea.category.category_name</span>
                    </h6>

                </div>
            </div>
            <div class="post-description">
                <div class="post-title" style="font-size: 20px;">
                    <h2>
                        @ViewBag.idea.idea_title
                    </h2>
                    <hr>
                </div>
                <p>
                    @ViewBag.Idea.idea_content
                </p>
                <hr>
                @if (ViewBag.idea.user_id != ViewBag.currentUser.user_id)
                {
                    <div class="stats">
                        @using (Html.BeginForm("Like", "Idea", FormMethod.Post, htmlAttributes: new { style = "margin-bottom: 10px; display: inline-block;" }))
                        {
                            if (ViewBag.rate == 1)
                            {
                                <button class="btn" type="submit" value="Like"
                                        style="background-color:green; color:white; padding: 5px 8px 5px 8px; font-size: 14px;" disabled="disabled">
                                    <i class="glyphicon glyphicon-thumbs-up"> Like</i>
                                </button>
                            }
                            else
                            {
                                <button class="btn" type="submit" value="Like" style="padding: 5px 8px 5px 8px; font-size: 14px;">
                                    <i class="glyphicon glyphicon-thumbs-up"> Like</i>
                                </button>
                            }

                            <input type="hidden" value="@ViewBag.Idea.idea_id" name="idea_id" />
                        }
                        @using (Html.BeginForm("Dislike", "Idea", FormMethod.Post, htmlAttributes: new { style = "margin-bottom: 10px; display: inline-block;" }))
                        {
                            if (ViewBag.rate == -1)
                            {
                                <button class="btn" type="submit" value="Dislike" style="background-color:red; color:white; padding: 5px 8px 5px 8px; font-size: 14px;" disabled="disabled">
                                    <i class="glyphicon glyphicon-thumbs-down"> Dislike</i>
                                </button>
                            }
                            else
                            {
                                <button class="btn" type="submit" value="Dislike" style="padding: 5px 8px 5px 8px; font-size: 14px;">
                                    <i class="glyphicon glyphicon-thumbs-down"> Dislike</i>
                                </button>
                            }

                            <input type="hidden" value="@ViewBag.Idea.idea_id" name="idea_id" />
                        }
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<br />
@foreach (var item in ViewBag.documents)
{
    <div style="border: 1px solid #dddddd; padding: 10px; border-radius: 5px; background-color: aliceblue">
        <span class="glyphicon glyphicon-paperclip" title="Attachments">
            <a href="@Url.Action("DownloadAttachment", "Idea", new { @new_file_name = item.new_file_name, @old_file_name = item.old_file_name})">@item.old_file_name</a>
        </span>
    </div>
}

<br />
@if (@ViewBag.idea.status == 2)
{
    <div class="col-md-2"></div>
    <div class="col-md-10" style="padding: 0">
        <h4 style="color:red">This idea has been rejected. For more information please check your e-mail or contact the QA Coordinator.</h4>
    </div>
    <br />
}
@if (@ViewBag.idea.status == 0)
{
    <div class="col-md-2"></div>
    <div class="col-md-10" style="padding: 0">
        <h4 style="color:red">This idea is pending. For more information please contact the QA Coordinator.</h4>
    </div>
    <br />
}
@if (@ViewBag.idea.status == 1)
{
    if (ViewBag.error != null)
    {
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding: 0">
            <h4 style="color:red">The deadline for submitting a new comment for this academic year has passed. Submitting comments is currently not available.</h4>
        </div>
        <br />
        <br />
    }
    using (Html.BeginForm("Details", "Idea", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Post Comment</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="comment_content" required></textarea>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Post Anonymously", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-top: 10px">
                    <input type="checkbox" name="isAnonymous" />
                </div>
            </div>
            <input type="hidden" value="@ViewBag.Idea.idea_id" name="idea_id" />
            <input type="hidden" value="@ViewBag.Idea.user_id" name="user_id" />
            <input type="hidden" value="@ViewBag.Idea.idea_title" name="Idea_Title" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (ViewBag.error != null)
                    {<input type="submit" value="Post Comment" class="btn btn-default" disabled />}
                    else
                    {<input type="submit" value="Post Comment" class="btn btn-default" />}
                </div>
            </div>
        </div>
    }
    <br />
    <h3 style="margin-bottom: 10px;">Comments</h3>
    <hr>
    if (Model.Comments.Count == 0)
    {
        <h4 style="margin-bottom: 10px;">No Comments available</h4>
    }
    for (int i = 0; i < Model.Comments.Count; i++)
    {
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <div class="panel-gray post">
                    <div class="post-heading">
                        @if (Model.Comments[i].user.role_id != 5)
                        {
                            <div class="ribbon"><span>STAFF</span></div>
                        }
                        <div class="pull-left meta">
                            <div class="title h5">
                                <b>@Model.Comment_users[i].user_name</b>
                            </div>
                            <h6 class="text-muted time">
                                <span class="glyphicon glyphicon-calendar"> @Model.Comments[i].created_at</span>
                            </h6>

                        </div>
                    </div>
                    <hr>
                    <div class="post-description">
                        <p>
                            @Model.Comments[i].comment_content
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}
