@model dynamic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Show details the idea
}
@section title_page {
    Show details the idea
}

<h2>@ViewBag.Idea.idea_title</h2>

@if (ViewBag.Idea_user == null)
{
    <h4>Anonymous</h4>
}
else
{
    <h4>@ViewBag.Idea_user.user_name</h4>
}
<br />
<p>@ViewBag.Idea.idea_content</p>
<br />
@foreach (var item in ViewBag.documents)
{
    <a href="@Url.Action("DownloadAttachment", "Idea", new { @new_file_name = item.new_file_name, @old_file_name = item.old_file_name})">@item.old_file_name</a>
    <br />
}
<br />
@using (Html.BeginForm("Like", "Idea", FormMethod.Post, htmlAttributes: new { style = "margin-bottom: 10px" }))
{
    if (ViewBag.rate == 1)
    {
        <input type="submit" value="Like" class="btn" style="background-color:red" disabled="disabled" />
    }
    else
    {
        <input type="submit" value="Like" class="btn" />
    }
    <input type="hidden" value="@ViewBag.Idea.idea_id" name="idea_id" />
}
@using (Html.BeginForm("Dislike", "Idea", FormMethod.Post))
{
    if (ViewBag.rate == -1)
    {
        <input type="submit" value="Dislike" class="btn" style="background-color:red" disabled="disabled" />
    }
    else
    {
        <input type="submit" value="Dislike" class="btn" />
    }
    <input type="hidden" value="@ViewBag.Idea.idea_id" name="idea_id" />
}
<br />
@using (Html.BeginForm("Details", "Idea", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Post Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="styled-input custom-margin-bottom-20px">
                    <textarea class="form-control" rows="5" id="idea_content" name="comment_content" required=""></textarea>   
                </div>
              @*  @Html.TextArea("comment_content", htmlAttributes: new { @class = "form-control" })*@      
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Post Anonymously", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="checkbox" name="isAnonymous" />
            </div>
        </div>
        <input type="hidden" value="@ViewBag.Idea.idea_id" name="idea_id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post Comment" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Comments.Count; i++)
            {
                <tr>
                    <td>@Model.Comment_users[i].user_name</td>
                    <td>@Model.Comments[i].comment_content</td>
                </tr>
            }
        </tbody>
    </table>
</div>
