@model PagedList.IPagedList<SIMS_CW.Models.display_idea>
@using PagedList.Mvc;

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    View all ideas
}

@section title_page {
    View all ideas
}
<script>
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>


<button style="margin-bottom: 30px;" "button" class="btn btn-primary">
    <a style="color: white;" href="@Url.Action("Create", "Idea")">Create</a>
</button>

<h3 class="headerw3" style="margin-bottom: 30px;">View all ideas</h3>
@using (Html.BeginForm("Index", "Idea", new { page = 1 }))
{
    @Html.Label("Title:")
    @Html.TextBox("idea_title")

    @Html.Label("Name:")
    @Html.TextBox("name")

    @Html.Label("Category")
    @Html.DropDownList("categoryID", Session["cateCbb"] as SelectList, "None")
    <br />
    @Html.Label("Publish Order")
    @Html.DropDownList("time_order", new SelectList(new List<String> { "Newest", "Oldest" }))

    <br />
    @Html.Label("Publish from")
    <input class="date-picker" name="pubFrom" type="date" value="@ViewBag.pubFrom"/>
    @Html.Label("to")
    <input type="date" name="pubTo" class="date-picker" value="@ViewBag.pubTo"/>


    @ViewBag.error
    <input type="submit" value="Filter" class="btn" />
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Content</th>
                <th>Published at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.user.user_name</td>
                    <td>
                        <a href="@Url.Action("Details", "Idea", new { idea_id =  item.idea.idea_id})">@item.idea.idea_title</a>
                    </td>
                    <td>@item.idea.idea_content</td>
                    <td>@item.idea.created_at</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Pagination*@
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, idea_title = ViewBag.idea_title, name = ViewBag.name, categoryID = ViewBag.categoryID, time_order = ViewBag.time_order, pubFrom = ViewBag.pubFrom, pubTo = ViewBag.pubTo }))
