@model PagedList.IPagedList<SIMS_CW.Models.display_idea>
@using PagedList.Mvc;

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title {
    View all ideas
}
@section title_page {
    View all ideas
}

<style>
hr {
    margin: 5px 0 15px 0;
}

.panel-white {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: aliceblue;
}

.panel-gray {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.post .post-heading {
    height: 70px;
    padding: 20px 15px 0 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 5px;
}

.post .post-description .stats .stat-item form {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
</style>

<script>
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    function clickToFilterIdeas() {
        $(".filterIdeasForm").toggle();
    }
</script>

<h3 class="headerw3" style="margin-bottom: 30px;">View all ideas</h3>
<button style="margin-bottom: 10px;" class="btn btn-primary">
    <a style="color: white;" href="@Url.Action("Create", "Idea")"><span class="glyphicon glyphicon-plus"></span> Create a new idea</a>
</button>
<div>
    <a href="@Url.Action("Index", "Idea")" class="btn btn-primary" style="padding: 5px 8px 5px 8px; margin: 0 0 10px 0;"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
    <p class="btn btn-primary" style="padding: 5px 8px 5px 8px; margin: 0 0 10px 0;" cursor: pointer" onclick="clickToFilterIdeas()"><span class="glyphicon glyphicon-filter"></span> Filter ideas</p>
</div>
@using (Html.BeginForm("Index", "Idea", new { page = 1 }, FormMethod.Post, new { @class = "filterIdeasForm", style = "display: none" }))
{
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">@Html.Label("Title:")</div>
        <div class="col-md-10">@Html.TextBox("idea_title", null, htmlAttributes: new { @class = "form-control" })</div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">@Html.Label("Name:")</div>
        <div class="col-md-10"> @Html.TextBox("name", null, htmlAttributes: new { @class = "form-control" })</div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">@Html.Label("Category")</div>
        <div class="col-md-10">@Html.DropDownList("categoryID", Session["cateCbb"] as SelectList, "All", htmlAttributes: new { @class = "form-control" })</div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">@Html.Label("Publish Order")</div>
        <div class="col-md-10">@Html.DropDownList("time_order", new SelectList(new List<String> { "Newest", "Oldest" }), htmlAttributes: new { @class = "form-control" })</div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">@Html.Label("Publish from")</div>
        <div class="col-md-10" style="display: flex">
            <input class="date-picker form-control" name="pubFrom" type="date" value="@ViewBag.pubFrom" />
            @Html.Label("to", htmlAttributes: new { style = "margin: 5px 10px 0 10px" })
            <input class="date-picker form-control" type="date" name="pubTo" value="@ViewBag.pubTo" />
        </div>
    </div>

    @ViewBag.error
    <input type="submit" value="Filter" class="btn" style="margin-bottom: 10px;" />
}

@foreach (var item in Model)
{

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div class="panel-white post">
                <div class="post-heading">
                    <div class="pull-left meta">
                        <div class="title h5">
                            <b>
                                @item.user.user_name
                            </b>
                        </div>
                        <h6 class="text-muted time">
                            <span class="glyphicon glyphicon-calendar" title="Created at"> @item.idea.created_at</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            @if (item.idea.viewed_count == null)
                            {
                            <span class="glyphicon glyphicon-eye-open" title="Views"> 0</span>
                            }
                            else
                            {
                            <span class="glyphicon glyphicon-eye-open" title="Views"> @item.idea.viewed_count</span>
                            }

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            <span class="glyphicon glyphicon-paperclip" title="Attachments"> @item.idea.documents.Count()</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            <span class="glyphicon glyphicon-comment" title="Comments"> @item.idea.comments.Where(c => c.idea_id == item.idea.idea_id).Where(c => c.user.role_id == 5).Count()</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            <span class="glyphicon glyphicon-tag" title="Category"> @item.idea.category.category_name</span>

                        </h6>

                    </div>
                </div>
                <div class="post-description">
                    <div class="post-title" style="font-size: 20px;">
                        <a href="@Url.Action("Details", "Idea", new { idea_id =  item.idea.idea_id})">
                            @item.idea.idea_title
                        </a>
                        <hr>
                    </div>
                    <p>
                        @item.idea.idea_content
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
}

@*Pagination*@
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
                                            new
                                            {
                                                page,
                                                idea_title = ViewBag.idea_title,
                                                name = ViewBag.name,
                                                categoryID = ViewBag.categoryID,
                                                time_order = ViewBag.time_order,
                                                pubFrom = ViewBag.pubFrom,
                                                pubTo = ViewBag.pubTo
                                            }))
