@model PagedList.IPagedList<SIMS_CW.Models.display_idea>
@using PagedList.Mvc;
@{
    ViewBag.Title = "MyIdeas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title {
    My Submitted ideas
}
@section title_page {
    My Submitted ideas
}


<h3 class="headerw3" style="margin-bottom: 30px;">My Submitted ideas</h3>
@foreach (var item in Model)
{
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div class="panel-white post">
                <div class="post-heading">
                   @if (item.new_comments)
                    {
                        <div class="cross-shadow-ribbon">New Comments</div>
                    }
                    <div class="pull-left meta">
                        <div class="title h5">
                            <b>
                                @item.user.user_name
                            </b>
                        </div>
                        <h6 class="text-muted time">
                            <span class="glyphicon glyphicon-calendar" title="Created at"> @item.idea.created_at</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            @if (item.idea.viewed_count == null)
                            {
                            <span class="glyphicon glyphicon-eye-open" title="Views"> 0</span>
                            }
                            else
                            {
                            <span class="glyphicon glyphicon-eye-open" title="Views"> @item.idea.viewed_count</span>
                            }

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            <span class="glyphicon glyphicon-paperclip" title="Attachments"> @item.idea.documents.Count()</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            <span class="glyphicon glyphicon-comment" title="Comments"> @item.idea.comments.Where(c => c.idea_id == item.idea.idea_id).Where(c => c.user.role_id == 5).Count()</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            <span class="glyphicon glyphicon-tag" title="Category"> @item.idea.category.category_name</span>

                            <!--Three spaces-->
                            &nbsp&nbsp&nbsp
                            @if (item.idea.status == 0)
                            {
                                <span class="glyphicon glyphicon-star"> Pending</span>
                            }
                            else if (item.idea.status == 1)
                            {
                                <span class="glyphicon glyphicon-star" style="color:green"> Approved</span>
                            }
                            else if (item.idea.status == 2)
                            {
                                <span class="glyphicon glyphicon-star" style="color:red"> Rejected</span>
                            }
                        </h6>

                    </div>
                </div>
                <div class="post-description">
                    <div class="post-title" style="font-size: 20px;">
                        <a href="@Url.Action("Details", "Idea", new { idea_id =  item.idea.idea_id})">
                            @item.idea.idea_title
                        </a>
                        <hr>
                        <div class="stats">
                            <p><span class="glyphicon glyphicon-thumbs-up" style="color: green">@item.idea.rates.Where(r => r.idea_id == item.idea.idea_id).Where(r => r.rate_point == 1).Count()</span>   <span class="glyphicon glyphicon-thumbs-down" style="color: red">@item.idea.rates.Where(r => r.idea_id == item.idea.idea_id).Where(r => r.rate_point == -1).Count()</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("MyIdeas", new { page, }))
