<!DOCTYPE html>
<html>
<head>
    <title>@RenderSection("title", false)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel=icon href="~/Assets/images/light-bulb_48x48.ico">
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/ownStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/ideaStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <style>
        .search {
            width: auto !important;
        }

        .bottom-social-agileits-w3ls {
            padding: 32px 0 0 0;
        }

        .top-bar_sub_w3layouts_agile {
            padding: 0 16px 10px 16px;
        }
    </style>
</head>
<body>
    <!--Header-->
    <div class="top-bar_sub_w3layouts_agile">
        <div class="search">
            <h5>
                @if (Session["loggedIn"] == null)
                {
                    <a class="sign" href="@Url.Action("LoginPage", "Home")">Login</a>
                }
                else
                {
                    <div style="display: flex">
                        <p style="margin: -5px 5px 0 0">Welcome @Session["role"].ToString() @Session["loggedIn"].ToString(),</p>
                        <a class="sign" href="@Url.Action("Logout", "Home")">
                            Logout
                        </a>
                    </div>
                }
            </h5>
            @*<div class="cd-main-header">
                    <ul class="cd-header-buttons">
                        <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                    </ul>
                     cd-header-buttons
                </div>
                <div id="cd-search" class="cd-search">
                    <form action="#" method="post">
                        <input name="Search" type="search" placeholder="Click enter after typing...">
                    </form>
                </div>*@
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="header inner_banner" id="home" >
        <!--/top-bar-->
        <div class="top-bar">
            <div class="header-nav-agileits">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="Index">
                                SIMS
                            </a>
                        </h1>
                        <div id="ideasCount">WHERE YOUR <br />IDEAS COUNT!</div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav>
                            @try
                            {
                                if (Convert.ToInt32(Session["liRole"]) == 1)
                                {
                                    <!-- admin-->
                                    <ul class="top_nav">
                                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                                Account
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "AdminAccount")">View</a></li>
                                                <li><a href="@Url.Action("Create", "AdminAccount")">Create</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                                Academic Year
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "AdminAcademicYear")">View</a></li>
                                                <li><a href="@Url.Action("Create", "AdminAcademicYear")">Create</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                    </ul>
                                }
                                else if (Convert.ToInt32(Session["liRole"]) == 2)
                                {
                                    <!-- manager-->
                                    <ul class="top_nav">
                                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="@Url.Action("About", "Home")">About</a></li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                                Ideas
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "Manager")">View all</a></li>
                                                <li><a href="@Url.Action("ApproveIdeas", "Manager")">Pending Ideas</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                                Category
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "ManagerCategory")">View</a></li>
                                                <li><a href="@Url.Action("Create", "ManagerCategory")">Create</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("Statistics", "Coordinator")">Statistics</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                    </ul>
                                }
                                else if (Convert.ToInt32(Session["liRole"]) == 3)
                                {
                                    <!-- coordinator-->
                                    <ul class="top_nav">
                                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="@Url.Action("About", "Home")">About</a></li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                                Ideas
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "Manager")">View all</a></li>
                                                <li><a href="@Url.Action("ApproveIdeas", "Manager")">Pending Ideas</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="@Url.Action("Statistics", "Coordinator")">Statistics</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                    </ul>
                                }
                                else
                                {<ul class="top_nav">
                                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                                Ideas
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index", "Idea")">View</a></li>
                                                <li><a href="@Url.Action("Create", "Idea")">Create</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                    </ul>}}
                            catch (NullReferenceException)
                            {
                                <ul class="top_nav">
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                            Ideas
                                            <span class="fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("Index", "Idea")">View</a></li>
                                            <li><a href="@Url.Action("Create", "Idea")">Create</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                </ul>
                            }
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
        <!--//top-bar-->
        <!--/ banner-text -->
        <!--// banner-text -->
    </div>
    <!--//inner_banner-->
    <!--/short-->
    <div class="services-breadcrumb-w3ls-agile">
        <div class="inner_breadcrumb">
            <ul class="short">
                <li><a href="@Url.Action("Index", "Home")">Home</a><span>|</span></li>
                <li>@RenderSection("title_page", false)</li>
            </ul>
        </div>
    </div>


    <!--/inner_connectent-->
    <div class="banner_bottom">
        <div class="container">
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
        </div>
    </div>
    <!--//inner_connectent-->
    <!--footer-->
    <div class="contact-footer-w3layouts-agile">
        <div class="bottom-social-agileits-w3ls">
            <div class="container">
                <div class="col-md-8 botttom-nav-w3ls-agileits">
                    <ul class="f_links col-md-4">
                        <li>
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("About", "Home")">About</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Terms", "Home")">Terms and Conditions</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 social-icons-wthree">
                    <h6>Connect with us</h6>
                    <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
                    <a class="twitter" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="pinterest" href="#"><span class="fa fa-pinterest-p"></span></a>
                    <a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copy-w3-agileits">
            <h2 class="footer-logo">
                <a href="index.html">
                    SIMS
                </a>
            </h2>
            <p>© 2018 SIMS . All Rights Reserved</p>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--/footer -->
    <!-- js -->
    <script src="~/Assets/js/jquery-2.2.3.min.js" type="text/javascript"></script>
    <!-- //js -->
    <!--search-bar-->
    <script src="~/Assets/js/main.js"></script>
    <!--//search-bar-->
    <!-- start-smoth-scrolling -->
    <script src="~/Assets/js/move-top.js" type="text/javascript"></script>
    <script src="~/Assets/js/easing.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <script src="~/Assets/js/bootstrap-3.1.1.min.js" type="text/javascript"></script>
</body>
</html>