@model SIMS_CW.Models.academic_years

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>academic_years</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.academic_year_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academic_year_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.started_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.started_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ended_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ended_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deadline_ideas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deadline_ideas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deadline_comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deadline_comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.academic_year_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
