@model SIMS_CW.Models.academic_years

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Academic Year Details
}

@section title_page {
    Academic Year Details
}

<h3 class="headerw3" style="margin-bottom: 30px;">Academic Year Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Academic year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academic_year_name)
        </dd>

        <dt>
            Started at
        </dt>

        <dd>
            @Html.DisplayFor(model => model.started_at)
        </dd>

        <dt>
            Ended at
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ended_at)
        </dd>

        <dt>
            Ideas closure date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deadline_ideas)
        </dd>

        <dt>
            Comments closure date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deadline_comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.academic_year_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
