@model SIMS_CW.Models.user
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title {
    Delete User
}

@section title_page {
    Delete User
}
<h3 class="headerw3" style="margin-bottom: 30px;">Delete User</h3>
<h3>Are you sure you want to delete this User Account?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Department
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department.department_name)
        </dd>
        <dt>
            Role
        </dt>
        <dd>
            @Html.DisplayFor(model => model.role.role_name)
        </dd>
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_university_id)
        </dd>
        <dt>
            Username
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            Created at
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>